@*@model SPGD.Models.Agent*@
@model SPGD.ViewModel.SeanceData

@{
    ViewBag.Title = "Details";
}

<h2>Liste des séances de l'année courante pour l'agent @ViewBag.SelectedAgentPrenom @ViewBag.SelectedAgentNom</h2>

<h3>Séances sans RDV</h3>
@Html.Partial("PartialViewSeanceSansRDV", Model)

<h3>Séances avec RDV</h3>
@Html.Partial("PartialViewSeanceAvecRDV", Model)