@model SPGD.Models.Seance

@{
    ViewBag.Title = "Details";
}

<h2>Photos de la Séance</h2>

<div>
    <h4>Photo Téléversée</h4>
    <hr />
    <dl class="dl-horizontal">
        @{

            int cpt = 0;
            foreach (var item in Model.Photos)
            {
                cpt++;
                    <img style="display:inline-block" class="col-md-2" src=" @item.PhotoPathName " />
            }
        }
    </dl>
</div>
<br />
<p class="col-sm-12">
    @Html.ActionLink("Retour aux séances", "Index" )
</p>
