@*@model IEnumerable<SPGD.Models.Seance>*@
@model SPGD.ViewModel.SeanceData

@{
    ViewBag.Title = "Index";
}
<br />
@*@Html.ActionLink("S'inscrire en tant qu'agent", "Create", "Agents", new { @class="btn-lg"})*@
<h2>Catalogue des séances sans RDV</h2>
<p>
    @Html.ActionLink("Demander une séance", "Create")
</p>
@Html.Partial("PartialViewSeanceSansRDV", Model)

<h2>Catalogue des séances avec RDV</h2>
@Html.Partial("PartialViewSeanceAvecRDV", Model)
